<template>
  <div id="home">
    <SiffiStart
      title="Healthcare that works. Everywhere."
      subtitle="HASSLE-FREE ONE-CLICK ACESS TO PRIMARY CARE AND MENTAL WELLBEING, REGARDLESS OF WHERE YOU LIVE AND WORK."
    />
    <SiffiInputs />
    <Values />
    <SiffiAppView />
    <ReviewView />
    <Footer />
  </div>
</template>

<style lang="scss">
* {
  box-sizing: border-box;
}

body {
  max-width: 100%;
  max-height: 100%;
}
</style>

<script>
// @ is an alias to /src
import SiffiStart from "@/components/SiffiStart.vue";
import SiffiInputs from "@/components/SiffiInputs.vue";
import Values from "@/views/Values.vue";
import SiffiAppView from "@/views/SiffiAppView.vue";
import ReviewView from "@/views/Review.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "Home",
  components: {
    SiffiStart,
    SiffiInputs,
    Values,
    SiffiAppView,
    ReviewView,
    Footer
  }
};
</script>
