<template>
  <div id="reviews">
    <Reviews />
  </div>
</template>

<style lang="scss"></style>

<script>
import Reviews from "@/components/Reviews.vue";

export default {
  name: "Review",
  components: {
    Reviews
  }
};
</script>
