<template>
  <div id="siffi">
    <SiffiApp />
  </div>
</template>

<style lang="scss"></style>

<script>
import SiffiApp from "@/components/SiffiApp.vue";
export default {
  name: "SiffiAppView",
  components: {
    SiffiApp
  }
};
</script>
