<template>
  <div id="values">
    <SiffiIntro
      span="Siffi"
      intro="delivers a delightful service-experience for maintaining and improving the user’s health and mental wellbeing"
    />
    <Cards />
    <TrustedBy />
  </div>
</template>

<script>
// @ is an alias to /src

import SiffiIntro from "@/components/SiffiIntro.vue";
import Cards from "@/components/Cards.vue";
import TrustedBy from "@/components/TrustedBy.vue";

export default {
  name: "Values",
  components: {
    SiffiIntro,
    Cards,
    TrustedBy
  }
};
</script>
