<template>
  <div id="kastid">
    <div class="row">
      <div class="column">
        <div class="card">
          <div class="img">
            <img class="trans" :src="trans" alt="trans" />
          </div>

          <h1>TRANSPARENCY</h1>
          <p>
            Siffi communicates its customer satisfaction, its return-ratios and
            admits its blunders.
          </p>
        </div>
      </div>
      <div id="blue" class="column">
        <div class="card">
          <div class="img">
            <img class="dec" :src="dec" alt="dec" />
          </div>

          <h1>DECENCY</h1>
          <p>
            Siffi keeps lowering premiums and increasing the return-ratio for
            customers. Our earnings comes from recurring agency fees, not from
            high premiums.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="img">
            <img class="globe" :src="globe" alt="globe" />
          </div>

          <h1>GLOBAL EQUALITY</h1>
          <p>
            Siffi offers healthcare coverage for workers in emerging countries,
            migrants, digital nomads as well as aging employees.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
#kastid {
  width: 100%;
}
.row {
  display: flex;
  justify-content: center;
  padding: 5%;
}
.column {
  width: 25%;
  height: 500px;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
#blue {
  background-color: #68b4c6;
  & h1 {
    color: #ffffff;
  }
  & p {
    color: #ffffff;
    padding: 5%;
  }
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #68b4c6;

  & h1 {
    color: #68b4c6;
  }
  & p {
    padding: 5%;
    font-size: 20px;
  }
}
.img {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1150px) {
  .row {
    flex-direction: column;
    align-items: center;
  }
  .column {
    width: 60%;
  }
}
</style>

<script>
import trans from "@/assets/pilt2.png";
import dec from "@/assets/Pilt4.png";
import globe from "@/assets/Pilt3.png";

export default {
  name: "Cards",
  props: {},
  data: function() {
    return {
      trans: trans,
      dec: dec,
      globe: globe
    };
  }
};
</script>
