<template>
  <div id="footer">
    <div class="footer1">
      <p>FAQ</p>
      <p>About Us</p>
      <p>Terms of Service</p>
      <p>Privacy Policy</p>
    </div>
    <div class="footer2">
      <p>Address information</p>
      <p>Address information</p>
      <p>E-mail information</p>
    </div>
  </div>
</template>

<style lang="scss">
#footer {
  width: 100%;
  height: 220px;
  background-color: #68b4c6;
  display: flex;
  justify-content: space-between;
}
.footer1 {
  margin: 20px 0 10px 80px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}
.footer2 {
  margin: 20px 80px 10px 0;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
}

@media (max-width: 600px) {
  #footer {
    flex-direction: column;
    height: 400px;
    justify-content: center;
    align-items: center;
  }
  .footer1 {
    text-align: center;
    margin: 0;
  }
  .footer2 {
    text-align: center;
    margin: 0;
  }
}
</style>

<script>
export default {
  name: "Footer",
  props: {}
};
</script>
