<template>
  <div id="review-container">
    <div class="what-talking">
      <h3>What people are saying about Us</h3>
    </div>
    <div class="review-row">
      <div class="review-card">
        <div class="profile">
          <img id="profileimg" :src="profile" alt="" />
          <div class="name">
            <h4>User Name</h4>
            <img class="stars" :src="stars" alt="" />
          </div>
        </div>
        <div class="text-info">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ante
            diam, porta non sollicitudin ac, varius vitae lorem. Sed eu dolor
            tincidunt, pulvinar elit sed, dapibus mi. Nulla vulputate tristique
            augue et tempor. Quisque consequat sem nec enim pellentesque
            suscipit.
          </p>
        </div>
      </div>

      <div class="review-card">
        <div class="profile">
          <img id="profileimg" :src="profile" alt="" />
          <div class="name">
            <h4>User Name</h4>
            <img class="stars" :src="stars" alt="" />
          </div>
        </div>
        <div class="text-info">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ante
            diam, porta non sollicitudin ac, varius vitae lorem. Sed eu dolor
            tincidunt, pulvinar elit sed, dapibus mi. Nulla vulputate tristique
            augue et tempor. Quisque consequat sem nec enim pellentesque
            suscipit.
          </p>
        </div>
      </div>

      <div class="review-card">
        <div class="profile">
          <img id="profileimg" :src="profile" alt="" />
          <div class="name">
            <h4>User Name</h4>
            <img class="stars" :src="stars" alt="" />
          </div>
        </div>
        <div class="text-info">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ante
            diam, porta non sollicitudin ac, varius vitae lorem. Sed eu dolor
            tincidunt, pulvinar elit sed, dapibus mi. Nulla vulputate tristique
            augue et tempor. Quisque consequat sem nec enim pellentesque
            suscipit.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
#review-container {
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("~@/assets/sinine.svg");
  background-size: 70%;
  background-position-x: right;
  background-position-y: 30%;
}

.what-talking {
  width: 100%;
  height: 100px;
  // background-color: #68B4C6;
  display: flex;
  justify-content: center;
  align-items: center;

  & h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
    color: #68b4c6;
  }
}

.review-row {
  display: flex;
  padding: 5% 5% 20% 5%;
}

.review-card {
  width: 500px;
  height: 400px;
  margin: 0 10px 0 10px;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;

  & #profileimg {
    width: 120px;
    // padding: 20px 0 0 30px;
  }
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 120px;
  margin-right: 15px;

  & .stars {
    width: 200px;
    margin: 0;
  }

  & h4 {
    color: #000;
    margin: 15px;
    font-size: 20px;
  }
}

.text-info {
  color: #000;
  margin: 15px;
}

@media (max-width: 1150px) {
  .review-row {
    flex-direction: column;
    align-items: center;
  }

  .review-card {
    margin-bottom: 10px;
  }
}
</style>

<script>
import profile from "@/assets/profile.svg";
import stars from "@/assets/five-stars.svg";

export default {
  name: "Reviews",
  probs: {},
  data: function() {
    return {
      profile: profile,
      stars: stars
    };
  }
};
</script>
