<template>
  <div id="siffi-inputs">
    <div class="first-input">
      <h3>Choose countries for Your insurance</h3>
      <input
        class="input-one"
        type="text"
        placeholder="Where are Your people located?"
      />
    </div>

    <div class="second-input">
      <h3>People in location</h3>
      <input class="input-two" type="text" placeholder="How many of You?" />
    </div>

    <button class="get-quote">GET QUOTE</button>
  </div>
</template>

<style lang="scss">
#siffi-inputs {
  align-items: flex-end;
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  // height: 100px;
}
.first-input {
  & h3 {
    color: #ffffff;
    text-align: left;
    margin-left: 15px;
    font-weight: normal;
  }
  & ::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
}

.input-one {
  width: 400px;
  height: 70px;
  outline: none;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  margin: 0 20px 0 0;
  padding: 15px;
}

.second-input {
  & h3 {
    color: #ffffff;
    text-align: left;
    margin-left: 15px;
    font-weight: normal;
  }
  & ::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
}

.input-two {
  width: 300px;
  height: 70px;
  outline: none;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  margin: 0 20px 0 0;
  padding: 15px;
}

button {
  position: relative;
  // top: 62px;
  width: 200px;
  height: 70px;
  outline: none;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  background-color: #69b370;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 1015px) {
  #siffi-inputs {
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    transform: none;
    align-items: center;
    margin-bottom: 10px;
  }
  .get-quote {
    margin-top: 10px;
  }
  .input-two {
    width: 400px;
  }
}
</style>

<script>
export default {
  name: "SiffiInput",
  props: {}
};
</script>
