<template>
  <div id="siffi-intro">
    <h1>{{ span }} {{ intro }}</h1>
  </div>
</template>

<style lang="scss">
#siffi-intro {
  display: flex;
  justify-content: center;
  margin: 5% 0 0 0;
  // height: 20%;
}
h1 {
  color: #000;
  width: 80%;
  text-transform: uppercase;
  font-size: 25px;
}
</style>

<script>
export default {
  name: "SiffiIntro",
  props: {
    intro: String,
    span: String
  }
};
</script>
