<template>
  <div id="siffi">
    <div class="info">
      <h3>
        Cost-efficient and user-friendly employee healthcare in *all countries*.
        Siffi safeguards productivity and allows the recruiting and retaining of
        the best international talent.
      </h3>
    </div>
    <div class="siffi-app">
      <div class="app-intro">
        <h4>
          With our app you can easily access our remote doctors, submit claims
          and view your policy
        </h4>
        <h2>GET IT HERE NOW:</h2>
      </div>
      <div class="get-app">
        <img :src="getapp" alt="getapp" />

        <div class="store">
          <img id="play" :src="playstore" alt="play store" />
          <img id="apple" :src="applestore" alt="apple store" />
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.siffi {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.siffi-app {
  display: flex;
  width: 100%;
  background-image: url("~@/assets/roheline.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  padding: 4%;
  justify-content: space-between;
}

.info {
  display: flex;
  justify-content: center;
  text-align: left;
  padding: 60px 80px 10px 80px;
  width: 80%;

  & h3 {
    font-size: 30px;
    color: #000;
    // font-weight: normal;
  }
}

.app-intro {
  width: 70%;
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  height: 20%;
  margin: 8% 0 0 0;

  & h4 {
    color: #fff;
    font-size: 35px;
    margin: 0;
    font-weight: normal;
  }
  & h2 {
    color: #fff;
    font-size: 40px;
    // margin: 0;
  }
}

.get-app {
  width: 50%;
  transform: translate(0%, -20%);

  & img {
    width: 500px;
  }
}
.store {
  display: flex;
  justify-content: center;
  align-items: center;

  & #play {
    width: 291px;
  }
  & #apple {
    width: 230px;
  }
}

@media (max-width: 1380px) {
  .app-intro {
    & h4 {
      font-size: 25px;
    }
    & h2 {
      font-size: 35px;
    }
  }
}

@media (max-width: 1150px) {
  .siffi-app {
    flex-direction: column;
    background-image: none;
    padding: 0;
  }
  .info {
    width: 100%;
    text-align: center;
  }
  .app-intro {
    background-color: #69b370;
    width: 100%;
    text-align: center;
    & h4 {
      text-align: center;
      width: 100%;
    }
    & h2 {
      text-align: center;
      width: 100%;
    }
  }

  .get-app {
    transform: none;
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .store {
    flex-direction: column;

    & #play {
      width: 260px;
    }
  }
}
</style>

<script>
import getapp from "@/assets/Pilt1.png";
import playstore from "@/assets/app/google-play-badge.png";
import applestore from "@/assets/app/apple.svg";

export default {
  name: "SiffiApp",
  probs: {},
  data: function() {
    return {
      getapp: getapp,
      playstore: playstore,
      applestore: applestore
    };
  }
};
</script>
