<template>
  <div class="hello">
    <h1>{{ title }}</h1>
    <h3>{{ subtitle }}</h3>
  </div>
</template>

<script>
export default {
  name: "SiffiStart",
  props: {
    title: String,
    subtitle: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.hello {
  text-align: left;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;

  & h1 {
    color: #ffffff;
    font-size: 35px;
  }
  & h3 {
    width: 60%;
    color: #ffffff;
    font-weight: normal;
    font-size: 25px;
  }
}

@media (max-width: 1380px) {
  .hello {
    text-align: center;

    & h1 {
      width: 100%;
    }

    & h3 {
      width: 100%;
    }
  }
}
</style>
