<template>
  <div id="trustedby">
    <div class="container">
      <h2>We are trusted by</h2>
      <div class="logos">
        <img :src="paxful" alt="paxful" />
        <img :src="nortal" alt="nortal" />
        <img :src="tele" alt="tele2" />
        <img :src="bolt" alt="bolt" />
        <img :src="elisa" alt="elisa" />
        <img :src="pipedrive" alt="pipedrive" />
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.container {
  width: 100%;
  height: 140px;
  background-color: #68b4c6;

  & h2 {
    font-weight: bold;
    padding-top: 10px;
  }
}
.logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* width: 100%; */
  height: 100px;

  & img {
    height: 50px;
    padding-bottom: 10px;
  }
}
@media (max-width: 1150px) {
  #trustedby {
    display: none;
  }
}
</style>

<script>
import paxful from "@/assets/company/paxful.svg";
import nortal from "@/assets/company/nortal.svg";
import tele from "@/assets/company/tele2.svg";
import bolt from "@/assets/company/bolt.svg";
import elisa from "@/assets/company/elisa_logo_white_3.png";
import pipedrive from "@/assets/company/pipedrive.svg";

export default {
  name: "TrustedBy",
  probs: {},
  data: function() {
    return {
      paxful: paxful,
      nortal: nortal,
      tele: tele,
      bolt: bolt,
      elisa: elisa,
      pipedrive: pipedrive
    };
  }
};
</script>
