<template>
  <div id="faq">
    <div id="nav">
      <div class="logo">
        <img id="siffi" src="./assets/siffiwhite.png" alt="siffi" />
        <router-link class="name" to="/">Siffi</router-link>
      </div>

      <router-link to="/">This is Faq page</router-link>
      <router-link to="/faq">FAQ</router-link>
      <router-link to="/claims">Claims</router-link>
    </div>
    <router-view />
  </div>
</template>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=K2D&display=swap");
* {
  box-sizing: border-box;
}

body {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  font-family: "K2D", sans-serif;
}
#faq {
  // font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;

  height: 56%;
  width: 100%;
  position: absolute;
  background-color: #68b4c6;

  // background-image: url("~@/assets/valge.svg");
  // background-repeat: no-repeat;
  // background-position-x: right;
  // background-size: 700px;
}

.logo {
  display: flex;

  & #siffi {
    height: 20px;
    margin-left: 15px;
  }

  & .name {
    color: #ffffff;
    margin: 0px 10px 0px 30px;
  }
}

#nav {
  width: 25%;
  padding: 30px 30px 0 30px;
  display: flex;
  background-color: #68b4c6;
  height: 20px;
  a {
    font-weight: bold;
    color: #ffffff;
    margin: 0 10px 0 10px;
    text-decoration: none;

    &.router-link-exact-active {
      color: #ffffff;
    }
  }
}

@media (max-width: 1015px) {
  #app {
    height: 100%;
  }
}

@media (max-width: 1380px) {
  #app {
    background-image: none;
  }
}
</style>
